/*
    for future reference, generated palette is here:
    https://coolors.co/0d1b2a-1b263b-2e4059-415a77-5c7490-778da9-acb7c3-e0e1dd

    rich black: #0d1b2a
    oxford blue: #1b263b
    indigo dye: #2e4059
    yinmn blue: #415a77
    payne's gray: #546e7a
    slate gray: #5c7490
    silver lake blue: #778da9
    french gray: #acb7c3
    platinum: #e0e1dd
*/

/* importing some fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* set up base color variables */
:root {
    --color-front: #e0e1dd;
    --color-front-mute: #acb7c3;

    --color-back: #2e4059;
    --color-back-soft: #415a77;
    --color-back-mute: #1b263b;
    --color-back-dark: #0d1b2a;

    --color-accent: #5c7490;
    --color-accent-soft: #778da9;
    --color-accent-dark: #546e7a;
}

/* and some base variables */
:root {
    --color-background: var(--color-back);
    --color-background-soft: var(--color-back-soft);
    --color-background-mute: var(--color-back-mute);

    --color-text: var(--color-front);
    
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Playfair Display', serif;
}

/* set up the body */
body {
    min-height: 100%;
    color: var(--color-text);
    background: var(--color-background);
    font-family: var(--font-sans);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}